/*重製樣式(有些屬性會有默認的margin,padding值，所以開頭要先將他歸零)*/
*{
   margin: 0 0;
   padding: 0 0 ;
}
#header{
    width:999px;
    height:100px;
    background:white;
    margin: 0 auto;
}

#header .logo{
    width:250px;
    height:25px;
    background:white;
    float: left;
    margin: 41px 0px 25px 23px;
}
#header .search{
    width:228px;
    height:28px;
    background:#f1f1f1;
    border: 1px solid #e5e5e5;
    float:right;
    margin: 41px 28px 25px 0px;

}

#header .search .text{
    height:28px;
    width:189px;
    border:none;
    float:left;
    padding-left:15px;
    font-size:10px;
    background:#f1f1f1;
}

#header .search .bt{
    height:28px;
    width:24px;
    float:right;
    background:url(../img/bt.png) no-repeat left center;
    border:none;
}
#nav{
    width:999px;
    height:60px;
    background: #313131;
    margin: 0 auto;
}

#nav ul{
    padding-left: 23px;
    border-left:none;

}

#nav ul li{
    float:left;
    list-style:none;
    width:120px;
    height:58px;
    border: 1px solid #4a4a4a;
    text-align: center;
    line-height: 60px;
    font-size:13px;
}


#nav ul .last{
    border-left:none;
}

#nav ul li a{
    color:white;
    text-decoration:none;
  
}

#banner{
    width:999px;
    height:464px;
    
    margin: 0 auto;
}

#news{
    width:999px;
    height:550px;
    background:saddlebrown;
    margin: 0 auto;

}




#news .news-1{
    width:999px;
    height:250px;
    background: red;
}

#news .news-1 .news-1-1{
    width:455px;
    height:250px;
    background: white;
    float: left;
    padding-left: 20px;
    padding-right: 25px;
}

#news .news-1 .news-1-1 h3{
   width:500px;
   height:85px; 
   font-size: 18px;
   line-height: 85px;
   color:black;
}

#news .news-1 .news-1-1 ul li{
    font-size: 10px;
    list-style-position: inside;
    height: 25px;
    line-height: 25px;
    width: 450px;
    color:#787878;

}

#news .news-1 .news-1-1 ul li a{

    text-decoration: none;

}
#news .news-1 .news-1-1 ul li span{
    float: right;
}


#news .news-1 .news-1-2{
    width:225px;
    height:250px;
    background:#f1f1f1;
    float: left;
    padding-left: 25px;

}

#news .news-1 .news-1-2 h3{

    line-height: 94px;
    font-size: 18px;

}
#news .news-1 .news-1-2 .info2{
   
    line-height: 26px;
    font-size: 13px;
    width:124px;
    color:#4e4e4e;

    
}
#news .news-1 .news-1-2 .info3{
    
    line-height: 26px;
    font-size: 13px;
    width:194px;
    color:#9f9f9f;
    margin-top: 12px;
}


#news .news-1 .news-1-3{
    width:224px;
    height:250px;
    background:#fbfbfb url(../img/flower.png)no-repeat 150px 123px;
    float:left;
    padding-left:25px;
    
   
}

#news .news-1 .news-1-3 h3{
    line-height: 94px;
    font-size: 18px;
}

#news .news-1 .news-1-3 p{
    font-size:12px;
    width: 180px;
    line-height:24px;
    color:#757575;
    margin-bottom: 45px;



}

#news .news-2{
    width:959px;
    height:235px;
    background:white;
    padding:30px 20px 35px 20px;
}

#news .news-2 h3{
    line-height: 35px;
    font-size: 18px;

}

#news .news-2 .fastnews{
    width: 210px;
    height:136px;
    background-color: brown;
    float:left;
    margin-right: 39px;
    
}

#news .news-2 .fastnews img{
    margin-bottom: 10px;
}

#news .news-2 .fastnews a{
    line-height: 30px;
    font-size:12px;
    width:206px;
    text-decoration:none;
}

#footer{
    width:999px;
    height:335px;
    background:#e5e5e5;
    margin: 0 auto;
    

}

#footer .footer1{
    width: 999px;
    height:250px;
    background-color:#e5e5e5;
}


#footer .footer1 .product{
    width: 450px;
    height: 160px;
    margin: 30px 50px 60px 20px;
    background-color:#e5e5e5;
    color:5f5f5f;
    float: left;

}

#footer .footer1 .product h3{

 
    border-bottom: 1px solid #c2c2c2 ;
    padding-bottom: 10px;
    font-size: 17px;
    margin-bottom: 20px;
   
}


#footer .footer1 .product .items{

    
    list-style: url(../img/hc.png) inside;
    line-height: 25px;
    font-size: 13px;
    float:left;


}

#footer .footer1 .skill{
    width: 150px;
    height: 132x;
    background-color:#e5e5e5;
    margin:30px 50px 88px 0px;
    float:left;
}
#footer .footer1 .skill h3{
    border-bottom: 1px solid #c2c2c2 ;
    padding-bottom: 10px;
    font-size: 17px;
    margin-bottom: 20px;
}

#footer .footer1 .skill .skilllist li{
 
    list-style: url(../img/hc.png) inside;
    line-height: 25px;
    font-size: 13px;
    
    

}

#footer .footer1 .inter{
    width: 254px;
    height: 190px;
    background-color:e5e5e5;
    float: left;
    margin:30px 25px 30px 0px;


    
}
#footer .footer1 .inter h3{
    border-bottom: 1px solid #c2c2c2 ;
    padding-bottom: 10px;
    font-size: 17px;
    margin-bottom: 20px;
}



#footer .footer1 .inter img{
   margin:10px 35px 15px 30px;
}

#footer .footer2{
    width:999px;
    height: 80px;
    background-color: white;
    float:left
}


#footer .footer2 .final1{
width: 345px;
height: 20px;
background-color: white;
margin: 25px 25px 35px 20px;
float: left;
font-size: 12px;

}

#footer .footer2 .final1 a{
    color: #8c8c8c;
text-decoration:none
}

#footer .footer2 .final1 a span{
    margin: 0px 6px;
}

#footer .footer2 .final2{
    width: 590px;
    height: 20px;
    background-color:white;
    margin: 25px 10px 35px 0;
    float: left;
    
    }

    #footer .footer2 .final2 p {
        font-size: 12px;
        color: #8c8c8c;
        float:left;
    }
    
    #footer .footer2 .final2 a img{
        width: 100px;
        height: 18px;
        float: left;
    }
